<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reminder.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @reminder.time %>
</p>

<%= link_to 'Destroy', @reminder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<%= link_to 'Back', reminders_path, class: 'btn btn-primary' %>
